.playlist-min-imgbox
  width 176px
  height 176px
@media screen and (max-width: 1550px)
  .recommend-item .list-inner .item
    padding 0 5px 10px !important

  .playlist-min-imgbox
    width 158px
    height 158px

  .header-info-img
    width 240px
    height 240px

  .container
    width 1200px

@media screen and (max-width: 1200px)
  .container
    width 1000px

  .playlist-min-imgbox
    width 130px
    height 130px

  .header-info-img
    width 200px
    height 200px
