@media screen and (max-width: 1550px)
  .recommend-item .list-inner .item
    padding 0 5px 10px !important

  .header-info-img
    width 240px
    height 240px

  .container
    width 1200px

@media screen and (max-width: 1200px)
  .container
    width 1000px

  .header-info-img
    width 200px
    height 200px
