@media screen and (max-width: 1550px)
  .recommend-item .list-inner .item
    padding 0 5px 10px !important
  .container
    width 1200px
@media screen and (max-width: 1200px)
  .container
    width 1000px
